{"ignition":{"version":"3.4.0","config":{"merge":[{"source":"{{ ignition_base_url }}/master.ign"}]}},"storage":{"files":[{"path":"/etc/hostname","mode":420,"overwrite":true,"contents":{"source":"data:,{{ node_name }}%0A"}}]}}
